NEXT_PUBLIC_SUPABASE_URL=https://kgwqhrcghudosbdphlom.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtnd3FocmNnaHVkb3NiZHBobG9tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NjA3MDUsImV4cCI6MjA2ODMzNjcwNX0.aByyXYUB5PWQsXHlXErcvPa6jHuJuUbhrCytHgGncek
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtnd3FocmNnaHVkb3NiZHBobG9tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc2MDcwNSwiZXhwIjoyMDY4MzM2NzA1fQ.RmFkPKDLNKtpEuStqn-rptH4jrm_zb823enKRp156VY